Repository NnsDao/NSWAP: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc, npx prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": "tsc",
  "*.{ts,js,css,md,json,html}": "npx prettier --write"
}

Integrate MUI
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/Demo.tsx
Due: npx prettier --write

fix: router
  package-lock.json
  package.json
  src/App.tsx
  src/pages/Home/index.tsx
  src/pages/aboutnswap/Index.tsx
  src/pages/pool/Index.tsx
  src/pages/swap/Index.tsx
  src/pages/vote/Index.tsx
  src/router/index.tsx
  vite.config.ts
Due: tsc, npx prettier --write

recoil
  package-lock.json
  package.json
  src/main.tsx
Due: npx prettier --write

setup project
  .vscode/settings.json
  index.html
  package-lock.json
  src/App.css
  src/App.tsx
  src/components/Header/Index.tsx
  src/components/Header/index.module.css
  src/pages/Home/index.tsx
  src/pages/swap/Index.tsx
  src/pages/swap/index.module.css
  src/router/index.tsx
  src/static/home_bg.png
  src/static/nswap.png
  tailwind.config.js
Due: tsc, npx prettier --write

chore:
  src/pages/swap/index.module.css
Due: npx prettier --write

css
  src/App.css
Due: npx prettier --write

App animate bg
  src/App.css
Due: npx prettier --write

add: swap
  src/App.css
  src/pages/swap/Index.tsx
  src/pages/swap/index.module.css
  src/router/index.tsx
  src/static/swapLogo.png
  tailwind.config.js
  vite.config.ts
Due: tsc, npx prettier --write

Style: Page Swap
  src/App.css
  src/pages/swap/Index.tsx
  src/pages/swap/components/selectToken/Index.tsx
  src/pages/swap/components/selectToken/components/tokenItem/Index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

add: Page select token
  src/App.css
  src/pages/swap/components/selectToken/components/dialog/Index.tsx
  src/pages/swap/components/selectToken/components/tokenItem/Index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

Plug && stoic login
  src/App.tsx
  src/common/plug.ts
  src/common/stoic.ts
  src/common/storage.ts
  src/components/Header/Index.tsx
  src/components/WalletSelector/index.module.css
  src/components/WalletSelector/index.tsx
  src/hooks/globalState.tsx
  src/public/plug.png
  src/public/stoic.png
  tailwind.config.js
Due: tsc, npx prettier --write

logout
  src/common/plug.ts
  src/common/stoic.ts
  src/common/storage.ts
  src/components/Header/Index.tsx
  src/components/Header/index.module.css
  src/router/index.tsx
Due: tsc, npx prettier --write

chore:
  src/components/Header/Index.tsx
Due: none

Update logo
  index.html
  src/components/Header/Index.tsx
  src/components/Header/index.module.css
  src/logo.svg
  src/static/logo.png
  src/static/nswap.png
Due: npx prettier --write

UI
  src/App.css
  src/components/Header/Index.tsx
  src/components/Header/index.module.css
Due: npx prettier --write

Style: Page Swap
  src/App.css
  src/pages/aboutnswap/Index.tsx
  src/pages/swap/components/selectToken/components/dialog/Index.tsx
  src/pages/swap/components/selectToken/components/importDialog/components/Index.tsx
  src/pages/swap/components/selectToken/components/manager/Index.tsx
  src/pages/swap/components/selectToken/components/selectDialog/Index.tsx
  src/pages/swap/components/selectToken/components/selectDialog/components/importInput/Index.tsx
  src/pages/swap/components/selectToken/components/selectDialog/components/importList/Index.tsx
  src/pages/swap/components/selectToken/components/selectDialog/components/searchInput/Index.tsx
  src/pages/swap/components/selectToken/components/selectDialog/components/tokenList/Index.tsx
  src/public/manager.png
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

add:Import Token
  src/pages/swap/Index.tsx
  src/pages/swap/components/selectToken/Index.tsx
  src/pages/swap/components/selectToken/components/importDialog/components/Index.tsx
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

add:Import Token
  src/pages/swap/components/selectToken/components/manager/Index.tsx
  src/pages/swap/components/selectToken/components/manager/index.module.css
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

page:ConfirmSwap
  src/App.css
  src/pages/swap/Index.tsx
  src/pages/swap/components/selectToken/components/confirmSwap/Index.tsx
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

Organize file
  src/pages/swap/Index.tsx
  src/pages/swap/components/confirmSwap/Index.tsx
  src/pages/swap/components/importDialog/components/Index.tsx
  src/pages/swap/components/manager/Index.tsx
  src/pages/swap/components/manager/index.module.css
  src/pages/swap/components/selectDialog/Index.tsx
  src/pages/swap/components/selectDialog/components/importInput/Index.tsx
  src/pages/swap/components/selectDialog/components/importList/Index.tsx
  src/pages/swap/components/selectDialog/components/searchInput/Index.tsx
  src/pages/swap/components/selectDialog/components/tokenList/Index.tsx
  src/router/index.tsx
Due: npx prettier --write

add: exact token
  src/pages/swap/components/exactToken/Index.tsx
  src/pages/swap/components/exactToken/index.module.css
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

add: SelectDialog
  src/pages/swap/Index.tsx
  src/pages/swap/components/exactToken/Index.tsx
  src/pages/swap/components/selectButton/Index.tsx
  src/pages/swap/components/selectDialog/Index.tsx
  src/pages/swap/components/selectDialog/components/importList/Index.tsx
  src/pages/swap/components/selectDialog/components/searchInput/Index.tsx
  src/pages/swap/components/selectDialog/components/tokenList/Index.tsx
  src/router/index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

add: confirm
  src/App.css
  src/components/Header/Index.tsx
  src/pages/swap/Index.tsx
  src/pages/swap/components/confirmSwap/Index.tsx
  src/pages/swap/components/selectButton/Index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

chore:
  src/App.css
Due: npx prettier --write

update Swap state
  src/hooks/globalState.tsx
  src/pages/swap/Index.tsx
  src/pages/swap/SelectTokenState.tsx
  src/pages/swap/components/selectDialog/Index.tsx
  src/pages/swap/components/selectDialog/components/tokenList/Index.tsx
Due: none

Merge branch 'main' of https://github.com/NnsDao/NSWAP
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/common/stoic.ts
  src/common/utils/index.ts
  src/components/Header/Index.tsx
  src/components/WalletSelector/index.tsx
  src/hooks/globalState.tsx
  src/pages/swap/Index.tsx
  tailwind.config.js
Due: tsc, npx prettier --write

fix: page
  src/components/Header/Index.tsx
  src/pages/aboutnswap/Index.tsx
  src/pages/faqs/Index.tsx
  src/router/index.tsx
Due: none

chore: login bug
  src/App.tsx
  src/components/Header/Index.tsx
  src/components/WalletSelector/index.tsx
  src/hooks/globalState.tsx
Due: none

add: message && input
  src/App.tsx
  src/components/message/Index.tsx
  src/pages/swap/Index.tsx
Due: none

page: setting
  src/pages/swap/Index.tsx
  src/pages/swap/components/setting/Index.tsx
  src/pages/swap/components/setting/index.module.css
  src/pages/swap/index.module.css
Due: npx prettier --write

Update dependencies
  .npmrc
  package-lock.json
  package.json
  tsconfig.json
Due: npx prettier --write

page:Pool
  src/pages/pool/Index.tsx
  src/pages/pool/index.module.css
  src/router/index.tsx
Due: npx prettier --write

page:Pool_ Account
  src/App.css
  src/pages/pool/Account/Index.tsx
  src/pages/pool/Index.tsx
  src/pages/pool/index.module.css
  tailwind.config.js
Due: tsc, npx prettier --write

page:pool
  src/pages/pool/Account/Index.tsx
  src/pages/pool/createPair/Index.tsx
  src/pages/pool/index.module.css
  src/router/index.tsx
Due: npx prettier --write

upgrade typescript to 4.7.3
  package-lock.json
  package.json
Due: npx prettier --write

CreatePair
  src/pages/pool/createPair/Index.tsx
  src/router/index.tsx
Due: none

add:page
  src/components/Header/Index.tsx
  src/pages/pool/Account/Index.tsx
  src/pages/pool/Index.tsx
  src/pages/pool/asset/Index.tsx
  src/pages/pool/asset/index.module.css
  src/pages/pool/createPair/Index.tsx
  src/pages/pool/customizeGas/Index.tsx
  src/pages/pool/customizeGas/index.module.css
  src/pages/pool/receive/Index.tsx
  src/pages/swap/SelectTokenState.tsx
  src/pages/swap/components/selectDialog/Index.tsx
  src/router/index.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: tsc, npx prettier --write

page
  .eslintrc.json
  src/pages/pool/remove/Index.tsx
  src/pages/swap/components/success/Index.tsx
  src/router/index.tsx
  src/static/successimg.png
Due: npx prettier --write
